.vscode/

.venv/
*.parquet
*.csv
*.csv.gz

keys/
data/
*.pem
my_creds.json
*credentials*.json

__pycache__/
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# dbt
target/
dbt_packages/
logs/
*.duckdb
*.duckdb.wal

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints
.bruin.yml
logs/runs
logs/*.log
*.py[cod]
logs/queries

requirements.txt

# dlt pipelines
.dlt/secrets.toml
pipeline_*.json

# marimo
__marimo__/